@model IEnumerable<ApplicationUser>

@{
	ViewData["Title"] = "Users";
}

<div class="row">
	<div class="col-md-6 offset-md-3">
		<p>
			<h4>Users</h4>
		</p>
		<table class="table text-center">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(m => m.FullName)</th>
					<th>@Html.DisplayNameFor(m => m.UserName)</th>
					<th>@Html.DisplayNameFor(m => m.Email)</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td class="align-middle">
							@Html.DisplayFor(m=>item.FullName)
						</td>
						<td class="align-middle">
							@Html.DisplayFor(m=>item.UserName)
						</td>
						<td class="align-middle">
							@Html.DisplayFor(m=>item.Email)
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@await Html.PartialAsync("_CreateItem", "Actors");